<header class="header-section">
  <div class="header-content-wrap container">
    <a class="logo-link" href="/"
      ><img class="header-logo" src="./img/general/logo.png" alt=""
    /></a>
    <button class="burger-menu">
      <img src="./img/mobile/burger-menu.png" alt="" />
    </button>
    <button class="close-menu hidden">
      <img class="close-img" src="./img/mobile/close-menu.png" alt="" />
    </button>
    <ul class="header-list">
      <li class="header-list-item">
        <a href="/#home" class="header-link">Home</a>
      </li>
      <li class="header-list-item">
        <a href="/#services" class="header-link">Services</a>
      </li>
      <li class="header-list-item">
        <a href="/#process" class="header-link">Process</a>
      </li>
      <li class="header-list-item">
        <a href="/#portfolio" class="header-link">Portfolio</a>
      </li>
      <li class="header-list-item">
        <a href="/#contact" class="header-link">Contact</a>
      </li>
    </ul>
  </div>
</header>

<div class="backdrop container">
  <ul class="backdrop-list">
    <li class="backdrop-list-item">
      <a href="/#home" class="backdrop-link">Home</a>
    </li>
    <li class="backdrop-list-item">
      <a href="/#services" class="backdrop-link">Services</a>
    </li>
    <li class="backdrop-list-item">
      <a href="/#process" class="backdrop-link">Process</a>
    </li>
    <li class="backdrop-list-item">
      <a href="/#portfolio" class="backdrop-link">Portfolio</a>
    </li>
    <li class="backdrop-list-item">
      <a href="/#contact" class="backdrop-link">Contact</a>
    </li>
  </ul>
</div>
