<section class="process-section" id="process">
  <div class="process-content-wrap container">
    <div class="process-main">
      <p class="process-top-text">How It Works</p>
      <h2 class="process-title">Simple, Fast, Scalable</h2>
      <p class="process-text">
        We work with mobile game studios, indie teams, and solo developers who are
        serious about game quality and player retention.
      </p>
      <ul class="process-list">
        <li class="process-list-item">
          <div class="process-list-box">
            <div class="digit"><p class="process-step">01</p></div>
            <div class="process-list-text-box">
              <h3 class="process-list-item-title">Tell Us Your Specs</h3>
              <p class="process-list-text">
                Game mechanics, level format, engine, visual style
              </p>
            </div>
          </div>
          <span class="process-span-line"></span>
        </li>
        <li class="process-list-item">
          <div class="process-list-box">
            <div class="digit"><p class="process-step">02</p></div>
            <div class="process-list-text-box">
              <h3 class="process-list-item-title">We Build Your Packs</h3>
              <p class="process-list-text">
                Custom sets or modular libraries based on your request
              </p>
            </div>
          </div>
          <span class="process-span-line"></span>
        </li>
        <li class="process-list-item">
          <div class="process-list-box">
            <div class="digit"><p class="process-step">03</p></div>
            <div class="process-list-text-box">
              <h3 class="process-list-item-title">You Integrate & Test</h3>
              <p class="process-list-text">
                Receive clean exports, playtest data, and iteration notes
              </p>
            </div>
          </div>
          <span class="process-span-line"></span>
        </li>
        <li class="process-list-item">
          <div class="process-list-box">
            <div class="digit"><p class="process-step">04</p></div>
            <div class="process-list-text-box">
              <h3 class="process-list-item-title">Repeat or Expand</h3>
              <p class="process-list-text">
                We support live game cycles with new content as needed
              </p>
            </div>
          </div>
          <span class="process-span-line"></span>
        </li>
      </ul>
      <a href="#" class="process-link"> Start a Project</a>
    </div>
    <img src="./img/mobile/process-img.png" alt="" class="process-img">
  </div>
</section>
