<section class="target-section">
  <div class="target-content-wrap container">
    <p class="target-top-text">Who We Help</p>
    <h2 class="target-title">For Studios Who Want More Than Random Levels</h2>
    <p class="target-text">
      We work with mobile game studios, indie teams, and solo developers who are
      serious about game quality and player retention.
    </p>
    <h3 class="target-list-title">Our Ideal Partners:</h3>
    <ul class="target-list">
      <li class="target-list-item">
        <img src="./img/general/target-img-1.png" alt="" class="target-img-1" />
        <p class="target-list-text">
          Indie devs building their first Match-3 game and seeking quality
          levels
        </p>
      </li>
      <li class="target-list-item">
        <img src="./img/general/target-img-2.png" alt="" class="target-img-1" />
        <p class="target-list-text">
          Studios in need of scalable content updates post-launch
        </p>
      </li>
      <li class="target-list-item">
        <img src="./img/general/target-img-3.png" alt="" class="target-img-1" />
        <p class="target-list-text">
          Teams preparing A/B tests for monetization and progression tuning
        </p>
      </li>
      <li class="target-list-item">
        <img src="./img/general/target-img-4.png" alt="" class="target-img-1" />
        <p class="target-list-text">
          Prototypers looking for test-ready puzzles for early access releases
        </p>
      </li>
    </ul>
  </div>
</section>
